.container {
  display: grid;
  justify-items: center;
  overflow: hidden;
}

@media screen and (min-width: 0px) {

}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 300px);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(3, 300px);
  }
}